header {
	background: var(--primary-color);

	/* STEP 6a */
	position: fixed;
	top: 0;
	left: 0;

	/* STEP 6b */
	width: 100%;

	/* STEP 6c */
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* STEP 19d */
	z-index: 50;
}

header nav {
	margin-right: 20px;
}

main {
	/* STEP 18a */
	margin: 100px auto 60px auto;
	padding: 1rem;

	/* STEP 18b */
	max-width: 900px;
}

footer {
	background-color: var(--primary-color);
	color: var(--text-and-icons);

	/* STEP 19a */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;

	font-size: 0.75rem;

	/* STEP 19b */
	z-index: 10;
}

/* Mobile navigation */

header nav ul {
	background-color: var(--accent-color);

	/* STEP 7a */
	list-style: none;
	padding: 2rem;

	/* STEP 7b */
	position: fixed;
	top: 0;
	left: 100%;

	/* STEP 7c */
	width: 100%;
	height: 100%;

	/* STEP 13a */
	z-index: 100;

	/* STEP 17 */
	transition: left 0.3s ease;
}

header nav ul a {
	/* STEP 8 */
	display: block;
	padding: 1rem 0;
	font-size: 1.2rem;
}

#toggle-menu {
	/* STEP 15 */
	display: none;
}

label[for="toggle-menu"] {
	color: var(--text-and-icons);

	/* STEP 10a */
	font-size: 2rem;
	padding: 20px;

	/* STEP 10b */
	position: fixed;
	top: 0;
	right: 0;

	/* STEP 10c */
	cursor: pointer;

	/* STEP 13b */
	z-index: 200;
}

#close {
	font-weight: bold;

	/* STEP 11 */
	display: none;
}

/* STEP 12 */
#toggle-menu:checked ~ nav ul {
	left: 0;
}

/* STEP 14a */
#toggle-menu:checked + label #close {
	display: inline;
}

/* STEP 14b */
#toggle-menu:checked + label #hamburger {
	display: none;
}

/* Desktop layout */

@media screen and (min-width: 768px) {

	label[for="toggle-menu"] {
		/* STEP 20 */
		display: none;
	}

	header nav ul {
		/* STEP 21a */
		position: static;
		width: auto;
		height: auto;
		left: 0;
		padding: 0;
		display: flex;

		/* STEP 21b */
		background: none;
	}

	header nav li {
		/* STEP 22 */
		display: inline-block;
		margin-left: 20px;
	}
}