/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* importing the font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oswald:wght@200..700&display=swap');

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}

/* HEADER */
header {
    text-align: center;
    padding: 2rem;
    background-color: deeppink;
    color: white;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Cinzel', serif;
    margin-bottom: 1rem;
    color: palevioletred;
}

h3 {
    font-family: 'Cinzel', serif;
    margin-top: 1rem;
    color: goldenrod;
}

/* MAIN LAYOUT (FLEXBOX) */
main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

article {
    max-width: 800px;
}

/* SECTIONS */
section {
    margin-bottom: 2rem;
}