/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* importing the font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oswald:wght@200..700&display=swap');

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}

/* HEADER */
header {
    text-align: center;
    padding: 2rem;
    background-color: deeppink;
    color: white;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Cinzel', serif;
    margin-bottom: 1rem;
    color: palevioletred;
}

h3 {
    font-family: 'Cinzel', serif;
    margin-top: 1rem;
    color: goldenrod;
}

/* FIGURE */
figure {
    text-align: center;
    margin: 2rem 0;
}

/* IMAGE */
img {
    max-width: 100%;
    height: auto;
    border: 5px solid #8b0000;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}

/* FIGCAPTION */
figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #ccc;
}

/* MAIN LAYOUT (FLEXBOX) */
main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

article {
    max-width: 800px;
}

/* SECTIONS */
section {
    margin-bottom: 2rem;
}

/* TEXT */
p {
    margin-bottom: 1rem;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(255, 20, 147, 0.8);
    font-size: 0.8rem;
}

footer a {
    color: gold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}