/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* importing the font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oswald:wght@200..700&display=swap');

/* BODY */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
}