@charset "utf-8";

html {
    font: 100%/1.4 "Segoe UI", Arial, sans-serif;
}

/* Table */
table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    table-layout: fixed;
}

/* Header */
thead {
    background-color: white;
    color: black;
    border-bottom: 1px solid #ddd;
    border-top: #ddd 1px solid;
    text-align: right;
}
/* BUT the Team header (second column) centered */
thead th:nth-child(2) {
    text-align: left;
}

/* Caption */
caption {
    caption-side: top;
    margin-bottom: 10px;
    font-size: 150%;
    font-weight: bold;
}



/* Cells */
th, td {
    padding: 10px;
}

/* Team column (left aligned) */
tbody th {
    text-align: left;
    font-weight: normal;
}

/* Rank column centered */
td:first-child {
    text-align: center;
}

/* Team names left */
tbody td:nth-child(2) {
    text-align: left;
}

/* All other data right */
td {
    text-align: right;
}

/* Zebra striping */
tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

/* Row separators */
tbody tr {
    border-bottom: 1px solid #ddd;
}

/* Footer */
tfoot td {
    font-size: 60%;
    text-align: center;
}

/* Rank column (tight like NHL) */
th:first-child,
td:first-child {
    width: 35px;
    padding: 6px 2px;
    text-align: center;
}

/* Team logos with spacing */
tbody th img {
    vertical-align: middle;
    margin-right: 8px;
}

